
SoftRendering/Debug/vc141.idb
SoftRendering/Debug/SoftRendering.tlog/SoftRendering.lastbuildstate
SoftRendering/Debug/SoftRendering.tlog/link.write.1.tlog
SoftRendering/Debug/SoftRendering.tlog/link.read.1.tlog
SoftRendering/Debug/SoftRendering.tlog/link.command.1.tlog
SoftRendering/Debug/SoftRendering.tlog/CL.write.1.tlog
SoftRendering/Debug/SoftRendering.tlog/CL.read.1.tlog
SoftRendering/Debug/SoftRendering.tlog/CL.command.1.tlog
.vs/SoftRendering/v15/ipch/AutoPCH/f51f4a797b9569c6/DRAWBOARD.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/e3d8d7be2f904440/HEADER.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/de2fc8c5573025d6/VECTOR.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/c44f9006a48b20e6/CAMERA.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/af7152970cdf26e5/DRAWBOARD.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/a1362b6b47570d8/SOFTRENDERING.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/7b7e0f26993833e7/VERTEX.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/7ac2d772c6cfb104/DEVICE.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/4ba171a3e5867ad5/CAMERA.ipch
.vs/SoftRendering/v15/Browse.VC.opendb
.vs/SoftRendering/v15/Browse.VC.db
.vs/SoftRendering/v15/ipch/AutoPCH/649d56477a7ba014/DEVICE.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/5349ca75e54127d6/DRAWBOARD.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/32e639cbae61ffc8/SOFTRENDERING.ipch
SoftRendering.sdf
.vs/SoftRendering/v15/ipch/AutoPCH/e63c15a479998bdb/SOFTRENDERING.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/b11f56601a9f49ef/DEVICE.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/9f1b47207a327b03/STREAM.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/4a5ddbd4972d94ee/CAMERA.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/36dca7c6598ad8c5/DRAWBOARD.ipch
.vs/SoftRendering/v15/ipch/AutoPCH/22448c918b9c6cf3/TRANSFORM.ipch
.vs/SoftRendering/v15/.suo
SoftRendering.v11.suo
SoftRendering/SoftRendering.vcxproj
SoftRendering/SoftRendering.vcxproj.user
SoftRendering/x64/Debug/Camera.obj
SoftRendering/x64/Debug/cl.command.1.tlog
SoftRendering/x64/Debug/CL.read.1.tlog
SoftRendering/x64/Debug/CL.write.1.tlog
SoftRendering/x64/Debug/Device.obj
SoftRendering/x64/Debug/DrawBoard.obj
SoftRendering/x64/Debug/SoftRendering.log
SoftRendering/x64/Debug/SoftRendering.lastbuildstate
SoftRendering/x64/Debug/softrendering.obj
SoftRendering/x64/Debug/SoftRendering.tlog/CL.command.1.tlog
SoftRendering/x64/Debug/SoftRendering.tlog/CL.read.1.tlog
SoftRendering/x64/Debug/SoftRendering.tlog/CL.write.1.tlog
SoftRendering/x64/Debug/SoftRendering.tlog/link.command.1.tlog
SoftRendering/x64/Debug/SoftRendering.tlog/link.read.1.tlog
SoftRendering/SoftRendering.vcxproj
SoftRendering/SoftRendering.vcxproj
x64/Debug/SoftRendering.pdb
x64/Debug/SoftRendering.ilk
x64/Debug/SoftRendering.exe
SoftRendering/x64/Debug/vc141.pdb
SoftRendering/x64/Debug/vc141.idb
SoftRendering/x64/Debug/vc110.pdb
SoftRendering/x64/Debug/vc110.idb
SoftRendering/x64/Debug/Transform.obj
SoftRendering/x64/Debug/Stream.obj
SoftRendering/x64/Debug/SoftRendering.unsuccessfulbuild
SoftRendering/x64/Debug/SoftRendering.tlog/SoftRendering.lastbuildstate
SoftRendering/x64/Debug/SoftRendering.tlog/link.write.1.tlog
*.vcxproj
SoftRendering/SoftRendering.vcxproj
*.obj
*.filters
*.filters
*.ipch
